
<div class="meu-container">
  <div class="row">
      <div class="barra-superior">
          <div class="img-perfil"></div>    
    </div>
  </div>
  <div class="row" style="margin-top: 50pt;">
    <div class="col-sm-6 offset-sm-3">
      <div class="text-center">
        <h1 class="">Pedro Botolli Santos</h1>
        <p>Atualmente cursando o último semestre de Análise e Desenvolvimento de Sistemas, sou apaixonado por programação e, no momento, estou aprendendo ASP.NET Core e Angular.</p>
        <a href="https://www.linkedin.com/in/pedro-botolli/">
          <i class="fa fa-linkedin-square icone" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/pedrobotolli">
          <i class="fa fa-github icone" aria-hidden="true"></i>
        </a>
        <a href="https://pt.stackoverflow.com/users/94343/pedro-santos">
          <i class="fa fa-stack-overflow icone" aria-hidden="true"></i>
        </a>
        <a href="mailto:pedrobotolli.santos@gmail.com">
            <i class="fa fa-envelope icone" aria-hidden="true"></i>
        </a>       
        

        <br><br><br>
        <h3>Conhecimentos em Informática:</h3>
      </div>
    </div>
    <div class="col-sm-2 offset-sm-4">
      <ul>
        <li>.NET Core</li>
        <li>Angular</li>
        <li>Html</li>
        <li>Javascript</li>
        <li>CSS</li>
        <li>Bootstrap</li>
        <li>PHP</li>        
      </ul>  
    </div>
    <div class="col-sm-3">
      <ul>
        <li>C#</li>
        <li>SQl</li>
        <li>Linux</li>
        <li>Haskell</li>
        <li>Java SE e EE</li>
        <li>Swift</li>
        <li>Pacote Office</li>
      </ul>  
    </div>
    
  </div>
</div>